.title {
  font-size: 2rem;
  margin-top: 1.5rem;
}

.alert {
  padding: 10px;
  border: 1px dotted #ccc;
  display: none;
}
.alert .alert__header {
  display: flex;
  justify-content: space-between;
}
.alert .alert_close {
  cursor: pointer;
}
.alert .alert__content {
  margin-top: 10px;
}

.alert.alert-is-open {
  display: block;
}
.alert.alert-is-error {
  border: 1px dotted red;
  background-color: rgb(245, 188, 188);
  color: rgb(198, 4, 4);
}
.alert.alert-is-sucess {
  border: 1px dotted rgb(0, 255, 0);
  background-color: rgb(204, 245, 188);
  color: rgb(82, 198, 4);
}