@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

// Page
$page-color: #ffffff;

// Colored
$color-primary: #3A8BBA;
$color-secundary: #01FFFF;
$color-tertiary: #ffffff;

// Margin
$margin: 20px;

// Fonts
$fontFamily: 'Oswald', Arial, Helvetica, sans-serif;

// Breaking Points
$mobile-break: 600px;
$tablet-break: 768px;
$desktop-break: 992px;